certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==2.0.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
language-tool-python==2.5.0
MarkupSafe==3.0.2
nltk==3.9.1
regex==2024.9.11
requests==2.32.3
setuptools==75.2.0
textblob==0.15.3
tqdm==4.66.5
urllib3==2.2.3
Werkzeug==2.0.3
